[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
aiohttp = "*"
alembic = "*"
click = "*"
pyodbc = "*"
pyyaml = "*"
python-dotenv = "*"
smart-open = "*"
ujson = "*"

[requires]
python_version = "3.9"
