[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
aiohttp = "*"
alembic = "*"
cassandra-driver = "*"
click = "*"
psycopg2 = "*"
pyodbc = "*"
pyyaml = "*"
pymssql = "*"
PyMySQL = "*"
python-dotenv = "*"
requests = "*"
ujson = "*"

[requires]
python_version = "3.7"
